/* @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic); */

/*html, body {
   font-family: 'Source Sans Pro', sans-serif;
}

*/

html, body {
    font-weight: 300 !important;
    font-size: 12pt !important;
}

.highlight pre {
    font-size: 10pt !important;
    padding: 5px !important;
}

table.docutils td {
    padding: 8px !important;
    font-size: 12pt !important;
}

tt.literal, span.pre {
    background: transparent !important;
    border: solid 0px #aaa !important;
    font-size: 100% !important;
    font-size: 10pt !important;
    padding: 2px;
}

tt.literal {
    border: solid 1px #ccc !important;
    border-radius: 3px;
}

table.docutils td tt.literal {
    border: solid 0px #ccc !important;
}

dl.method dt em {
    font-weight: 300;
}

a.reference.internal {
    font-weight: 400;
}
